.main-background {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -310px;
  .main-section {
    position: absolute;
    top: 30%;
    right: 10%;
    min-height: 40%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-section-header {
      color: $color-base-grey;
      font-size: 2.25em;
      letter-spacing: -1px;
      text-align: center;
      padding: 10px;
    }
    .main-section-buttons {
      display: flex;
      justify-content: space-evenly;

      a {
        font-size: 2em;
        font-weight: 300;
        text-align: center;
        color: $color-base-grey;
        border: 1px solid $color-base-grey;
        margin: 10px;
        padding: 5px;
      }
    }
  }
}

@media (max-width: 704px) {
  .main-background {
    background-position-y: bottom;
    background-position-x: -250px;
    .main-section {
      margin-top: -60px;
      .main-section-header {
        font-size: 1.75em;
      }
      .main-section-buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
          font-size: 1.5em;
        }
      }
    }
  }
}