* {
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}

a {
  text-decoration: none;
}

.decoration {
  height: 50px;
  width: 250px;
  background-repeat: no-repeat;
  margin: 30px auto 0;
}