.header-main {
  position: absolute;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5%;
  margin-top: 1%;
  background-color: transparent;
  .navbar-upper {
    margin-bottom: 15px;
    a {
      color: $color-lighter-grey;
      font-size: 0.875em;
      padding: 3px 20px;
      border: 1px solid transparent;
      &:hover {
        border-color: $color-accent;
      }
    }
  }
  .navbar-lower {
    a {
      color: $color-base-grey;
      font-size: 1.125em;
      padding: 3px 20px;
      border: 1px solid transparent;
      cursor: pointer;
      &:hover {
        border-color: $color-base-grey;
      }
    }
  }

}