.logout {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logout-header {
    font-size: 2.5em;
    color: $color-base-grey;
    width: 40%;
    text-align: center;
  }
  .logout-link {
    color: $color-base-grey;
    font-weight: 300;
    font-size: 1.125em;
    border: 1px solid $color-base-grey;
    padding: 10px 15px;
  }
}

@media (max-width: 704px) {
  .header-main {
    align-items: flex-start;

    .navbar-lower {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}