.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-header {
    font-size: 2.5em;
    color: $color-base-grey;
  }

  .login-decoration {
    height: 50px;
    width: 250px;
    background-repeat: no-repeat;
    margin-top: 30px;
  }

  .login-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
    width: 25%;
    label {
      color: $color-base-grey;
      font-weight: 600;
      margin: 20px 50px 0;
    }
    input {
      margin: 0 50px 20px;
      border: 1px solid transparent;
      background-color: transparent;
      outline: none;
      border-bottom-color: $color-base-grey;

      &:focus {
        border-bottom: 2px solid $color-base-grey;
      }
    }
    .error-msg {
      color: red;
      font-size: 0.75em;
      font-weight: 600;
      margin: 0 50px;
    }
    .login-buttons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      background-color: white;
      a {
        color: $color-base-grey;
        font-weight: 300;
        font-size: 1.125em;
        padding: 5px 15px;
        margin: 50px -50px;
      }
      input {
        appearance: none;
        cursor: pointer;
        margin: 0;
        background-color: transparent;
        border: 1px solid $color-base-grey;
        color: $color-base-grey;
        font-size: 1em;
        font-weight: 300;
        padding: 5px 15px;
        margin: 50px -50px;
      }
    }
  }


}